* {
    margin: 0;
    padding: 0;

}

button {
    font-size: 25px;
    padding: 5px;
    background-color: cadetblue;
    border-radius: 10px;
    border-color: darkslateblue;
    border-width: 5px;
}

select {
    font-size: 25px;
    padding: 5px;
    background-color: cadetblue;
    border-radius: 10px;
    border-color: darkslateblue;
    border-width: 2px;
}

body {
    background-color: wheat;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 32px;
}

#main {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-right: 120px;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 16px;
}

#container {
    display: flex;
    height: 600px;
    width: 600px;
    flex-direction: column;
    align-items: stretch;
    justify-items: stretch;
    border: 3px solid rgb(27, 10, 10);
}

.row {
    display: flex;
    flex: 1;
    align-self: stretch;
}

.col {
    background-color: white;
    display: flex;
    flex: 1;
    align-self: stretch;
}